@charset "UTF-8";
.pokemon-all {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 500px) {
    .pokemon-all {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .pokemon-all {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon {
    display: flex;
    padding-block: 2rem;
    border-radius: 1rem;
    background-color: rgb(251, 251, 251);
    box-shadow: 0 1rem 3rem -2rem rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

/* 번호를 배경효과를 주고 싶을때 isolation,
div 밖으로 넘치지 않도록 하고 싶을때 div밖으로가면 잘림 overflow */

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
}

.pokemon-image {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-image img {
    width: 100%;
    max-width: 6rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.name-contenedor {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: var(--clr-gray);
    padding: 0.25rem 0.5rem;
    border-radius: 100px;
    font-size: 0.75rem;
    font-weight: 500;
}

.pokemon-name {
    font-size: 1.4rem;
}

.pokemon-types {
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    padding: 0.25rem 0.5rem;
    border-radius: 100px;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: 0.85rem;
}

.stat {
    background-color: var(--clr-gray);
    padding: 0.25rem 0.5rem;
    border-radius: 100px;
}